<html>
<head><title>:..Insfraestrutura ágil - NetWorking..:</title></head>
<body>
        <h1>Cadastrar Discos</h1>
                <form method="post" action="/disks">
                        <p>Nome<input type="text" name="name" /><p>
						<p>Tamanho<input type="text" name="size" /><p>
						<p>Tipo<input type="text" name="type" /><p>
                        <input type="submit" value="Cadastrar" />
                </form>
</body>
</html>