<html>
<head><title>:..Insfraestrutura ágil - Virtual Machine..:</title></head>
<body>
        <h1>Cadastrar VM</h1>
                <form method="post" action="/vms">
                        <p>Nome<input type="text" name="name" /><p>
						<p>Core<input type="text" name="cpu" /><p>
						<p>Memoria<input type="text" name="ram" /><p>
						<p>Espaço<input type="text" name="disk" /><p>
                        <input type="submit" value="Cadastrar" />
                </form>
</body>
</html>