<html>
<head><title>:..Insfraestrutura ágil - NetWorking..:</title></head>
<body>
        <h1>Cadastrar Ips</h1>
                <form method="post" action="/netw">
                        <p>Ip
                        <input type="text" name="ip" />
                        </p>
                        <input type="submit" value="Cadastrar" />
                </form>
</body>
</html>