<html>
<head><title>:..Minha Aplicação..:</title></head>
<body>
        <h1>Minha Aplicação com form</h1>
                <form method="post" action="/login">
                        <p>usuario
                        <input type="text" name="usuario" />
                        </p>
                        <p>senha
                        <input type="password" name="senha" />
                        </p>
                        <input type="submit" value="logar" />
                </form>
</body>
</html>