<html>
<head><title>:...Insfraestrutura ágil - NetWorking...:</title></head>
<body>
        <h1>Insfraestrutura ágil - NetWorking</h1>
		<h2>Ips Disponíveis </h2>
        <% @listaipsfrontend.each do |ip| %>
                <h3><%= ip %></h3>
        <%end%>
		<% @listaipsfrontend.clear %>
</body>
</html>
