<html>
<head><title>:..Minha Aplicação..:</title></head>
<body>
        <h1>Minha Aplicação com form</h1>
        <% @usuarios.each do |user| %>
                <h2><%= user %></h2>
        <%end%>
</body>
</html>